/* UNIVERSAL STYLES */

html {
    font-size: 16px;
}

body {
    background-color: white;
}

.image-container{
    overflow: hidden;
}

.image-container img {
    max-width: 100%;
    height: auto;
    display: block;
}

/* BANNER */

#banner {
    height: 46rem;
    background-image: url('images/beyond+pyramids.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#banner h1 {
    color: white;
    font-family: "Roboto", sans-serif;
    font-size: 3.75rem;
    font-weight: 300;
}

/* BLOG */

#blog {
    width: 86%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}

#blog .post {
    width: 52%;
    color: #444444;
    font-family: "Merriweather", serif;
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.8;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 12.5%;
    margin-bottom: 7.5%;
}

.post h2 {
    font-size: 1.875rem;
}

.post h3 {
    color: #999999;
    font-size: 1.125rem;
}

.post .opening-line {
    color: black;
    font-weight: bold;
    margin-top: 4.1875rem;
    margin-bottom: 1.5rem;
}

.post .image-container {
    width: 100%;
}

/* BLOG IMAGES */

.images {
    margin-bottom: 20%;
}

.images .image-container {
    width: 50%;
    display: inline-block;
}

/* FOOTER */

